{% extends "base.html" %}
{% block content %}
<div class="contact">
    <div class="flex-row">
        <div class="overlay hidden"></div>
        <div class="flex-column contact-info">
            <div class="info-container">
                <div class="contact-subtext">Personalized Training Routines</div>
                <div class="contact-subtext">Individual Nutrition Plans</div>
                <div class="contact-subtext">Phone Consultations</div>
                <div class="contact-subtext">Live Video Training Sessions</div>
            </div>
        </div>
        <div class="flex-column contact-form">
            <h2>Have questions or requests, just ask!</h2>
            <form id="contact-form">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" name="name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" id="email" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea id="message" class="form-control" name="message"></textarea>
                </div>
                <div class="btn btn-success">Send</div>
            </form>
            <h4 class="error hidden"></h4>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {

        function validate() {
            let isValid = true;
            if ($('#name').val() === '' || $('#email').val() === '' || $('#message').val() === '') {
                isValid = false;
                $('.error').text("Please fill out all fields before submitting.");
                $('.error').removeClass('hidden');
            }

            if ($('#email').val() !== '' && !(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w+)+$/.test($('#email').val()))) {
                isValid = false;
                $('.error').text("Please enter a valid email address.");
                $('.error').removeClass('hidden');
            }
            return isValid;
        }

        $('.btn').click(function(e) {
            e.preventDefault();
            $('.error').addClass('hidden');
            $('.error').text('');
            var isValid = validate();
            if (isValid) {
                $.ajax({
                    url: '{{ url_for("submitContactForm") }}',
                    data: $('form').serialize(),
                    type: 'POST',
                    beforeSend: function() {
                        $('.overlay').removeClass('hidden');
                    },
                    success: function(response) {
                        if (response.status === 'OK') {
                            window.location.href = "{{ url_for('home') }}";
                        } else {
                            $('.error').removeClass('hidden');
                            $('.error').text('Could not send email');
                        }
                    },
                    error: function(error) {
                        $('.error').removeClass('hidden');
                        $('.error').text(error);
                    },
                    complete: function() {
                        $('.overlay').addClass('hidden');
                    }
                });
            }
        });
    });
</script>
{% endblock %}