{% extends "base.html" %}
{% block content %}

<div class="resources">
    <div class="page-form">
        <div class="container">
            <div class="filter-header">Topics:</div>
            <div class="filters">
                <div class="filter all{{ ' selected' if selectedTag == 'all' else '' }}" data-value="all">
                    <div class="checkmark"></div>
                    <span>All</span>
                </div>
                {% for tag in tags %}
                    <div class="filter{{ ' selected' if tag.lower() == selectedTag else '' }}" data-value="{{ tag }}">
                        <div class="checkmark"></div>
                        <span>{{ tag }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="posts-container">
        <h4 class="error hidden"></h4>
        <div class="overlay hidden"></div>
        <div class="container">
            <div class="posts-header">
                <h1>{{"Browse our Professionally Curated Resources" if num_pages > 0 else "We don't have any resources for this category right now! Please try another."}}</h1>
            </div>
            <div class="posts">
            {% for post in posts %}
                <div class="post">
                    <a href="{{ url_for('posts.view', id=post['_id']) }}">
                        <div class="content">
                            <div class="top">
                                <div class="title"><h4>{{ post['title'] }}</h4></div>
                            </div>
                            <div class="bottom">
                                <div class="description">{{ post['description'] }}</div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            </div>
            <div class="pagination">
                {% if num_pages > 1 %}
                <a class="page prev{{ ' disabled' if page == 1 else ''}}">Prev</a>
                {% for pageNumber in range(1, max_pages_shown + 1) %}
                <a class="page{{ ' active disabled' if pageNumber == page else '' }}" data-page="{{ pageNumber }}">{{ pageNumber }}</a>
                {% endfor %}
                <a class="page next{{ ' disabled' if len(posts) < max_per_page or page == num_pages else '' }}" data-page="2">Next</a>
                {% endif %}
            </div>
        </div>
    </div>

</div>


<script type="text/javascript">
    var renderPosts = function(posts) {
        $('.posts').empty();
        var postDiv;
        var content;
        var top;
        var title;
        var bottom;
        var description;
        var contentContainer;
        posts.forEach((post) => {
            postDiv = $('<div>').addClass('post');
            contentContainer = $('<a>').attr('href', '/resources/'+post['_id'])
            content = $('<div>').addClass('content');
            top = $('<div>').addClass('top');
            title = $('<div>').addClass('title').html('<h4>'+post['title']+'</h4>');
            bottom = $('<div>').addClass('bottom');
            description = $('<div>').addClass('description').html(post['description']);
            top.appendTo(content);
            title.appendTo(top);
            bottom.appendTo(content);
            description.appendTo(bottom);
            content.appendTo(contentContainer);
            contentContainer.appendTo(postDiv);
            postDiv.appendTo($('.posts'));
        });
    }

    var renderPagination = function(page, num_pages, max_pages_shown) {
        $('.pagination').empty();
        var prev;
        var button;
        var next;
        var minPage = 1;
        var maxPage;
        if (num_pages <= 1) {
            return;
        } else if (num_pages <= max_pages_shown) {
            maxPage = num_pages
        } else if (page < Math.ceil(max_pages_shown / 2)) {
            maxPage = max_pages_shown;
        } else if (page <= num_pages - 2) {
            minPage = page - Math.floor(max_pages_shown / 2);
            maxPage = page + Math.floor(max_pages_shown / 2);
        } else {
            minPage = num_pages - (max_pages_shown - 1);
            maxPage = num_pages;
        }

        prev = $('<a>').addClass('page prev').attr('data-page', page - 1).text('Prev');
        if (page === 1) prev.addClass('disabled');
        prev.appendTo($('.pagination'));
        for (let i = minPage; i <= maxPage; i++) {
            button = $('<a>').addClass('page').attr('data-page', i).text(i);
            if (i === page) button.addClass('active disabled');
            button.appendTo($('.pagination'));
        }
        next = $('<a>').addClass('page next').attr('data-page', page + 1).text('Next');
        if (page === num_pages) next.addClass('disabled');
        next.appendTo($('.pagination'));
    }

    $(document).ready(function() {
        let page = {{ page }};
        let num_pages = {{ num_pages }};
        let max_per_page = {{ max_per_page }};
        let max_pages_shown = {{ max_pages_shown }};

        $(window).on("popstate", function (e) {
            location.reload();
        });

        $(document.body).on('click', '.page', function(e) {
            e.preventDefault();
            let self = $(this);
            let nextPage = self.data('page');
            let tag = $('.filter.selected').data('value');
            $.ajax({
                url: '{{ url_for('posts.paginate') }}',
                data: "page="+nextPage+"&tag="+tag,
                type: 'GET',
                beforeSend: function() {
                    $('.overlay').removeClass('hidden');
                },
                success: function(response) {
                    if (response.status === 'OK') {
                        renderPosts(response.posts);
                        window.scrollTo(0, 0);
                        $('.posts-header').addClass('hidden');
                        renderPagination(nextPage, num_pages, max_pages_shown);
                        page = nextPage
                        window.history.pushState(null, null, window.location.pathname + '?page='+page);
                    } else {
                        $('.error').removeClass('hidden');
                        $('.error').text(response.message);
                    }
                },
                error: function(error) {
                    $('.error').removeClass('hidden');
                    $('.error').text(error);
                },
                complete: function() {
                    $('.overlay').addClass('hidden');
                }
            });
        });

        $('button').click(function(e) {
            e.preventDefault();
            $('.error').addClass('hidden');
            $('.error').text('');
            $('select').val('0');
            if($('input').val()) {
                $.ajax({
                    url: '{{ url_for('posts.search') }}',
                    data: "input-tag="+$('input').val(),
                    type: 'GET',
                    beforeSend: function() {
                        $('.overlay').removeClass('hidden');
                    },
                    success: function(response) {
                        if (response.status === 'OK') {
                            renderPosts(response.posts);
                            window.scrollTo(0, 0);
                            $('.posts-header').addClass('hidden');
                        } else {
                            $('.error').removeClass('hidden');
                            $('.error').text('Could not complete search');
                        }
                    },
                    error: function(error) {
                        $('.error').removeClass('hidden');
                        $('.error').text(error);
                    },
                    complete: function() {
                        $('.overlay').addClass('hidden');
                    }
                });
            } else if ($('select').val() === "0") {
                $('.error').removeClass('hidden');
                $('.error').text('Error: no tag selected');
            }

        });

        $('.filter').on('click', function(e) {
            e.preventDefault();
            $('.error').addClass('hidden');
            $('.error').text('');
            var el = $(this);
            if (el.data('value')) {
                $('.filter').removeClass('selected');
                $.ajax({
                    url: '{{ url_for('posts.search') }}',
                    data: "select-tag="+el.data('value'),
                    type: 'GET',
                    beforeSend: function() {
                        $('.overlay').removeClass('hidden');
                    },
                    success: function(response) {
                        if (response.status === 'OK') {
                            el.addClass('selected');
                            window.scrollTo(0, 0);
                            renderPosts(response.posts);
                            $('.btn.prev').addClass('disabled');
                            page = 1;
                            if (response.posts.length === 0) {
                                $('.posts-header').removeClass('hidden');
                                $('.posts-header h1').text("We don't have any resources for this category right now! Please try another.");
                            } else {
                                $('.posts-header').addClass('hidden');
                                if (response.posts.length < max_per_page) {
                                    $('.btn.next').addClass('disabled');
                                } else {
                                    $('.btn.next').removeClass('disabled');
                                }
                            }

                            num_pages = response.num_pages;
                            max_pages_shown = response.max_pages_shown;
                            renderPagination(page, num_pages, max_pages_shown);
                            let tag = el.data('value') !== 'all' ? el.data('value').toLowerCase() : ''
                            window.history.pushState(null, null, '/resources/' + tag);

                        } else {
                            $('.error').removeClass('hidden');
                            $('.error').text(response.message);
                        }
                    },
                    error: function(error) {
                        $('.error').removeClass('hidden');
                        $('.error').text("We're having trouble loading our resources right now! Please try again later.");
                    },
                    complete: function() {
                        $('.overlay').addClass('hidden');
                    }
                });
            } else if (!$(this).data('value')) {
                $('.error').removeClass('hidden');
                $('.error').text("We're having trouble loading our resources right now! Please try again later.");
            }
        });
    });
</script>
{% endblock %}