{% extends "base.html" %}
{% block content %}

<div class="resources">

    <h4 class="error hidden"></h4>
    <div class="page-form">
        <div class="container">
            <div class="filter-header">Topics:</div>
            <div class="filters">
                <div class="filter all selected" data-value="all">
                    <div class="checkmark"></div>
                    <span>All</span>
                </div>
                {% for tag in tags %}
                    <div class="filter" data-value="{{ tag }}">
                        <div class="checkmark"></div>
                        <span>{{ tag }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="posts">
        <div class="overlay hidden"></div>
        <div class="container">
            {% for post in posts %}
                <div class="post">
                    <a href="{{ url_for('posts.view', id=post['_id']) }}">
                        <div class="content">
                            <div class="top">
                                <div class="title"><h4>{{ post['title'] }}</h4></div>
                            </div>
                            <div class="bottom">
                                <div class="description">{{ post['description'] }}</div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

</div>


<script type="text/javascript">
    var renderPosts = function(posts) {
        $('.posts .container').empty();
        var postDiv;
        var content;
        var top;
        var title;
        var bottom;
        var description;
        var contentContainer;
        posts.forEach((post) => {
            postDiv = $('<div>').addClass('post');
            contentContainer = $('<a>').attr('href', '/resources/'+post['_id'])
            content = $('<div>').addClass('content');
            top = $('<div>').addClass('top');
            title = $('<div>').addClass('title').html('<h4>'+post['title']+'</h4>');
            bottom = $('<div>').addClass('bottom');
            description = $('<div>').addClass('description').html(post['description']);
            top.appendTo(content);
            title.appendTo(top);
            bottom.appendTo(content);
            description.appendTo(bottom);
            content.appendTo(contentContainer);
            contentContainer.appendTo(postDiv);
            postDiv.appendTo($('.posts .container'));
        });
    }

    $(document).ready(function() {
        $('button').click(function(e) {
            e.preventDefault();
            $('.error').addClass('hidden');
            $('.error').text('');
            $('select').val('0');
            if($('input').val()) {
                $.ajax({
                    url: '{{ url_for('posts.search') }}',
                    data: "input-tag="+$('input').val(),
                    type: 'POST',
                    beforeSend: function() {
                        $('.overlay').removeClass('hidden');
                    },
                    success: function(response) {
                        if (response.status === 'OK') {
                            renderPosts(response.posts);
                            window.scrollTo(0, 0);
                        } else {
                            $('.error').removeClass('hidden');
                            $('.error').text('Could not complete search');
                        }
                    },
                    error: function(error) {
                        $('.error').removeClass('hidden');
                        $('.error').text(error);
                    },
                    complete: function() {
                        $('.overlay').addClass('hidden');
                    }
                });
            } else if ($('select').val() === "0") {
                $('.error').removeClass('hidden');
                $('.error').text('Error: no tag selected');
            }

        });

        $('.filter').on('click', function(e) {
            e.preventDefault();
            $('.error').addClass('hidden');
            $('.error').text('');
            var el = $(this);
            if (el.data('value')) {
                $('.filter').removeClass('selected');
                $.ajax({
                    url: '{{ url_for('posts.search') }}',
                    data: "select-tag="+el.data('value'),
                    type: 'POST',
                    beforeSend: function() {
                        $('.overlay').removeClass('hidden');
                    },
                    success: function(response) {
                        if (response.status === 'OK') {
                            renderPosts(response.posts);
                            el.addClass('selected');
                            window.scrollTo(0, 0);
                        } else {
                            $('.error').removeClass('hidden');
                            $('.error').text('Could not create post');
                        }
                    },
                    error: function(error) {
                        $('.error').removeClass('hidden');
                        $('.error').text(error);
                    },
                    complete: function() {
                        $('.overlay').addClass('hidden');
                    }
                });
            } else if ($(this).data('value') === "") {
                $('.error').removeClass('hidden');
                $('.error').text('Error: no tag selected');
            }
        });
    });
</script>
{% endblock %}