.contact {
  overflow: auto;
}
.contact .flex-row {
  display: flex;
}
.contact .flex-row .flex-column {
  padding: 150px 40px 100px;
}
.contact .flex-row .flex-column.contact-info {
  padding-top: 200px;
  flex-basis: auto;
  width: 40%;
  background-color: #0B172A;
  color: #EBEBEB;
}
.contact .flex-row .flex-column.contact-info .info-container {
  padding: 15px;
  border: 1px solid #BC4123;
}
.contact .flex-row .flex-column.contact-info .info-container h2 {
  text-align: center;
  text-decoration: underline;
}
.contact .flex-row .flex-column.contact-info .info-container .contact-subtext:not(:first-child) {
  opacity: 1;
  margin-top: 25px;
  font-size: 18px;
}
.contact .flex-row .flex-column.contact-form {
  flex-basis: auto;
  position: relative;
  width: 60%;
  background-color: #F6F9FC;
}
.contact .flex-row .flex-column.contact-form h2 {
  text-align: center;
  color: #0B172A;
}
