.resources {
  background-color: #FFF;
  min-height: 700px;
  display: flex;
}
.resources .page-form {
  flex-basis: auto;
  position: relative;
  width: 25%;
  padding-top: 50px;
  background-color: #E24343;
}
.resources .page-form .container {
  padding: 15px 50px 40px;
  position: fixed;
}
.resources .page-form .container .filter-header {
  color: #F6F9FC;
  margin-bottom: 25px;
}
.resources .page-form .container .filter-header.filter {
  font-size: 18px;
}
.resources .page-form .container .filter-header.filter:hover {
  cursor: pointer;
}
.resources .page-form .container .filters {
  text-align: left;
}
.resources .page-form .container .filters .filter {
  font-size: 18px;
  margin-bottom: 10px;
  color: #FFF;
}
.resources .page-form .container .filters .filter span {
  padding: 5px 5px 5px 0;
}
.resources .page-form .container .filters .filter:hover {
  cursor: pointer;
}
.resources .page-form .container .filters .filter.selected span {
  border-bottom: 1px solid #F6F9FC;
}
.resources .posts {
  flex-basis: auto;
  width: 75%;
  position: relative;
}
.resources .posts .container {
  display: flex;
  flex-wrap: wrap;
}
.resources .posts .container .post {
  flex-basis: auto;
  width: 33.3%;
  height: 200px;
  padding: 10px;
}
.resources .posts .container .post a {
  text-decoration: none;
}
.resources .posts .container .post a .content {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
}
.resources .posts .container .post a .content .top {
  background-color: #FAFAFA;
  padding: 10px 5px;
  color: #0B172A;
  height: 50%;
}
.resources .posts .container .post a .content .bottom {
  background-color: #06263C;
  padding: 5px;
  color: #F6F9FC;
  height: 50%;
}
.resources .posts .container .post a .content .title {
  text-align: center;
  color: #E24343;
  font-size: 16px;
}
.resources .posts .container .post a .content .description {
  text-align: center;
  margin-top: 20px;
  color: #748E9E;
  font-size: 16px;
}
