.resources {
  background-color: #FFF;
  min-height: 700px;
  display: flex;
}
.resources .page-form {
  flex-basis: auto;
  position: relative;
  width: 25%;
  margin-top: 40px;
  padding-top: 50px;
  background-color: #BC4123;
}
.resources .page-form .container {
  padding: 15px 50px 40px;
  position: fixed;
}
.resources .page-form .container .filter-header {
  color: #F6F9FC;
  margin-bottom: 25px;
}
.resources .page-form .container .filter-header.filter {
  font-size: 18px;
}
.resources .page-form .container .filter-header.filter:hover {
  cursor: pointer;
}
.resources .page-form .container .filters {
  text-align: left;
  max-width: 200px;
}
.resources .page-form .container .filters .filter {
  font-size: 18px;
  margin-bottom: 10px;
  color: #FFF;
  position: relative;
}
.resources .page-form .container .filters .filter span {
  padding: 5px 5px 5px 0;
}
.resources .page-form .container .filters .filter:hover {
  cursor: pointer;
}
.resources .page-form .container .filters .filter.selected .checkmark {
  display: block;
}
.resources .page-form .container .filters .filter.all {
  margin-bottom: 20px;
}
.resources .page-form .container .filters .filter .checkmark {
  display: none;
  position: absolute;
  left: -15px;
  top: 5px;
  border-bottom: 2px solid #FFF;
  border-right: 2px solid #FFF;
  height: 10px;
  width: 5px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari */
  transform: rotate(45deg);
}
.resources .posts-container {
  flex-basis: auto;
  width: 75%;
  position: relative;
  margin-top: 50px;
}
.resources .posts-container .error {
  margin-top: 15px;
  margin-left: 15px;
}
.resources .posts-container .container .pagination {
  display: flex;
  max-width: 650px;
  margin: 0 auto;
  justify-content: flex-start;
}
.resources .posts-container .container .posts-header {
  margin-bottom: 30px;
  text-align: center;
  color: #06263C;
}
.resources .posts-container .container .posts-header.hidden {
  display: none;
}
.resources .posts-container .container .posts {
  display: flex;
  flex-wrap: wrap;
}
.resources .posts-container .container .post {
  flex-basis: auto;
  width: 33.3%;
  height: 200px;
  padding: 10px;
}
.resources .posts-container .container .post a {
  text-decoration: none;
}
.resources .posts-container .container .post a .content {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
}
.resources .posts-container .container .post a .content .top {
  background-color: #FAFAFA;
  padding: 10px 5px;
  color: #BC4123;
  height: 50%;
}
.resources .posts-container .container .post a .content .bottom {
  background-color: #06263C;
  padding: 5px;
  color: #F6F9FC;
  height: 50%;
}
.resources .posts-container .container .post a .content .title {
  text-align: center;
  color: #E24343;
  font-size: 16px;
}
.resources .posts-container .container .post a .content .description {
  text-align: center;
  margin-top: 20px;
  color: #748E9E;
  font-size: 16px;
}
