.contact {
    overflow: auto;
    .flex-row {
        display: flex;
        .flex-column {
            padding: 150px 40px 100px;
            &.contact-info {
                padding-top: 200px;
                flex-basis: auto;
                width: 40%;
                background-color: #0B172A;
                color: #EBEBEB;
                .info-container {
                    padding: 15px;
                    border: 1px solid #BC4123;
                    h2 {
                        text-align: center;
                        text-decoration: underline;
                    }
                    .contact-subtext:not(:first-child) {
                        opacity: 1;
                        margin-top: 25px;
                        font-size: 18px;
                    }
                }
            }
            &.contact-form {
                flex-basis: auto;
                position: relative;
                width: 60%;
                background-color: #F6F9FC;
                h2 {
                    text-align: center;
                    color: #0B172A;
                }
                .error {
                    margin-top: 10px;
                }
            }
        }
    }

}