.resource-page {
    background-color: #FFF;
    min-height: 700px;
    padding: 50px 70px;
    .resource {
        padding: 10px 0 0;
        margin-top: 70px;
        -webkit-box-shadow:0 0 15px rgba(0, 0, 0, 0.6);
        -moz-box-shadow:0 0 15px rgba(0, 0, 0, 0.6);
        box-shadow:0 0 10px rgba(0, 0, 0, 0.6);
        h1 {
            text-align: center;
            margin: 25px 0;
            color: #BC4123;
        }
        .paragraph {
            padding: 30px;
            font-size: 18px;
            &.odd {
                background-color: #06263C;
                color: #F6F9FC;
            }
            &.even {
                background-color: #F6F9FC;
                color: #06263C;
            }
        }
    }
    .btn {
        display: inline-block;
        outline: none;
        padding: 10px 20px;
        border-radius: 6px;
        text-align: center;
        margin: 0 auto;
        min-width: 120px;
        background-color: #0B172A;
        opacity: 0.8;
        transition: all 0.1s ease;
        color: #FFF;
        &:hover {
            cursor: pointer;
            opacity: 1;
            -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
            -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
            box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
        }
    }
}