.resources {
    background-color: #FFF;
    min-height: 700px;
    display: flex;
    .page-form {
        flex-basis: auto;
        position: relative;
        width: 25%;
        padding-top: 50px;
        background-color: #E24343;
        .container {
            padding: 15px 50px 40px;
            position: fixed;
            .filter-header {
                color: #F6F9FC;
                margin-bottom: 25px;
                &.filter {
                    font-size: 18px;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            .filters {
                text-align: left;
                .filter {
                    font-size: 18px;
                    margin-bottom: 10px;
                    color: #FFF;
                    span {
                        padding: 5px 5px 5px 0;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                    &.selected span {
                        border-bottom: 1px solid #F6F9FC;
                    }
                }
            }
        }
    }
    .posts {
        flex-basis: auto;
        width: 75%;
        position: relative;
        .container {
            display: flex;
            flex-wrap: wrap;
            .post {
                flex-basis: auto;
                width: 33.3%;
                height: 200px;
                padding: 10px;
                a {
                    text-decoration: none;
                    .content {
                        -webkit-box-shadow:0 0 15px rgba(0, 0, 0, 0.6);
                        -moz-box-shadow:0 0 15px rgba(0, 0, 0, 0.6);
                        box-shadow:0 0 10px rgba(0, 0, 0, 0.6);
                        height: 100%;
                        width: 100%;
                        .top {
                            background-color: #FAFAFA;
                            padding: 10px 5px;
                            color: #0B172A;
                            height: 50%;
                        }
                        .bottom {
                            background-color: #06263C;
                            padding: 5px;
                            color: #F6F9FC;
                            height: 50%;
                        }
                        .title {
                            text-align: center;
                            color: #E24343;
                            font-size: 16px;
                        }
                        .description {
                            text-align: center;
                            margin-top: 20px;
                            color: #748E9E;
                            font-size: 16px;
                        }
                    }
                }
            }
        }

    }
}